:root {
   --color-warning: #f7ca46;
   --bs-warning: #f7ca46 !important;
   --bs-warning-rgb: 247, 202, 70 !important;
   --color-danger: #FF4EB0;
   --bs-danger: #FF4EB0 !important;
   --bs-danger-rgb: 255, 78, 176 !important;
}

html {
   @media (max-width: 575.98px) {
      font-size: .875rem;
   }
}

.page-body {
   font-size: 1rem;
}

.container,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
   & {
      --bs-gutter-x: 2rem !important;
   }

   @media (min-width: 1200px) {
      max-width: 1140px;
   }
}

.text-reset {
   font-size: inherit;
}

.link-hover {
   & {
      color: inherit;
      opacity: .75;
      text-decoration: none;
      text-transform: capitalize;
   }

   &:hover,
   &:focus,
   &.active {
      opacity: 1;
   }
}

.link-hover-underline {
   & {
      color: inherit;
      opacity: .75;
      text-decoration: none;
      text-transform: capitalize;
   }

   &:hover,
   &:focus,
   &.active {
      opacity: 1;
      text-decoration: underline;
   }
}

.custom-breadcrumb {
   & {
      display: flex;
      flex-wrap: wrap;
      row-gap: .25rem;
      column-gap: 1.5rem;
   }

   &>li {
      position: relative;

      &::after {
         content: '';
         height: 100%;
         border-right: solid 1px currentColor;
         position: absolute;
         top: 50%;
         left: calc(100% + .75em);
         transform: translate(-50%, -50%);
         opacity: .25;
      }

      &:last-child::after {
         display: none;
      }
   }
}

.ratio {
   background-image: url(../../../asset/img/no-images.png);
   background-repeat: no-repeat;
   background-position: center;
   background-size: 50% auto;
   background-color: #d1d1d1;
}

.border-md-start {
   @media (min-width: 768px) {
      border-left: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
   }
}

.border-lg-start {
   @media (min-width: 992px) {
      border-left: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
   }
}

.border-lg-0 {
   @media (min-width: 992px) {
      border-width: 0 !important;
   }
}

.media {
   display: flex;
   flex-wrap: nowrap;
   column-gap: .5rem;
   line-height: 1;
}

.overflow-lg-visible {
   @media (min-width: 992px) {
      overflow: visible !important;
   }
}

.position-md-absolute {
   @media (min-width: 768px) {
      position: absolute !important;
   }
}

.fa-md-2 {
   @media (min-width: 768px) {
      font-size: 1.5em;
   }
}