<!DOCTYPE html>
<html lang="en">
<head>
	<script src="layout/head.js"></script>
	<link rel="stylesheet" href="css/landing.css">
	<title>FactaBot &bull; Home</title>
	<style>
		* {
			outline: solid 1px green;
			outline: solid 1px transparent;
		}
</style>
</head>
<body>
	<div class="wrapper">
		<div class="page">
			<header class="page-header fixed-top bg-body">
				<script src="layout/navbar.js"></script>
				<script src="layout/running-text.js"></script>
				<script src="layout/sidebar.js"></script>
			</header><!-- end page wrapper -->
			<main class="page-body py-4 pb-5">

				<section>
               <div class="container">
                  <h5 class="fs-1 mb-4">
                     <b class="fw-medium">
                        Sorry, Donald, but the celebrities you covet will never be your friends
                     </b>
                  </h5>
                  <div class="row flex-wrap small align-items-baseline justify-content-between">
                     <div class="col col-auto">
                        Author's <a href="#" target="_blank"><b class="fw-medium">Clara</b></a> & <a href="#" target="_blank"><b class="fw-medium">Lola</b></a> <br>
                        WEDNESDAY, 2025 May 22 ~ 09:00 AM
                     </div><!-- end col -->
                     <div class="col col-auto">
                        <ul class="nav">
                           <li class="nav-item">
                              <a href="#" class="nav-link text-reset p-0"><i class="fas fa-bookmark"></i></a>
                           </li>
                           <li class="nav-item"><div class="vr h-100 mx-2"></div></li>
                           <li class="nav-item">
                              <a href="#" class="nav-link text-reset p-0"><i class="fas fa-share"></i></a>
                           </li>
                           <li class="nav-item"><div class="vr h-100 mx-2"></div></li>
                           <li class="nav-item">
                              <a href="#" class="nav-link text-reset p-0"><i class="fas fa-feed"></i></a>
                           </li>
                           <li class="nav-item"><div class="vr h-100 mx-2"></div></li>
                           <li class="nav-item">
                              <a href="#" class="nav-link text-reset p-0">
                                 <i class="fas fa-comment"></i>
                                 <span>View all comments</span>
                              </a>
                           </li>
                        </ul>
                     </div><!-- end col -->
                  </div><!-- end row -->
                  <hr>
                  <div class="row">

                     <div class="col col-12 col-lg-7">
                        <div class="mb-4">
                           <div class="ratio ratio-4x3">
                              <img src="" class="object-fit-cover" alt="">
                           </div>
                           <small>Dok: Antara</small>
                        </div>
                        <p class="px-xl-5">
                           Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolor optio vero magni reiciendis, corrupti dignissimos vel doloribus rerum asperiores distinctio dicta sequi quisquam obcaecati voluptatem quod voluptates fugiat voluptate esse! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Temporibus ullam repellendus non nulla, ea qui doloribus aperiam. Possimus amet similique error, ex ipsam officiis iste repellat soluta corporis necessitatibus odit?
                           <br><br>
                           Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam, laborum tenetur non eos recusandae sed, distinctio id nostrum quasi illo ullam ipsa aliquam animi dicta. Pariatur delectus omnis laboriosam quisquam.
                           <br><br>
                           Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deserunt ullam aperiam beatae laboriosam ratione repudiandae maiores labore quas corporis, asperiores, in quasi vel obcaecati, earum voluptate rerum necessitatibus culpa velit! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Temporibus, eos, adipisci neque magni veniam rem sunt quo consequuntur quos porro perspiciatis voluptate iure totam molestias quae laborum nisi eligendi quidem.
                           <br><br>
                           Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo deserunt odio perspiciatis cupiditate. Fugiat, deleniti earum ex unde possimus soluta? Reprehenderit adipisci voluptatum vero enim debitis, ratione harum natus eaque.
                        </p>
                     </div><!-- end col -->

                     <div class="col col-12 col-lg-5 col-xl-4 ms-xl-auto border-lg-start">
                        <div class="sticky-top" style="top: 13rem;">
                           <div class="bg-secondary" style="height: 20rem;"></div>
                        </div>
                     </div><!-- end col -->

                  </div><!-- end row -->
               </div><!-- end container -->
            </section>

			</main><!-- end page body -->
			<footer class="page-footer">
				<script src="layout/footbar.js"></script>
			</footer><!-- end page footer -->
		</div><!-- end page -->
	</div><!-- end wrapper -->
	<script src="js/theme.js"></script>
	<script src="js/global.js"></script>
</body>
</html>