<!DOCTYPE html>
<html lang="en">
<head>
	<script src="layout/head.js"></script>
	<link rel="stylesheet" href="css/detail.css">
	<title>FactaBot &bull; Home</title>
	<style>
		* {
			outline: solid 1px green;
			outline: solid 1px transparent;
		}
</style>
</head>
<body>
	<div class="wrapper">
		<div class="page">
			<header class="page-header fixed-top bg-body">
				<script src="layout/navbar.js"></script>
				<script src="layout/running-text.js"></script>
				<script src="layout/sidebar.js"></script>
			</header><!-- end page wrapper -->
			<main class="page-body py-4 pb-5">

				<section>
               <div class="container">
                  <h5 class="fs-1 mb-2" style="max-width: 48rem;">
                     <b class="fw-medium">
                        Sorry, Donald, but the celebrities you covet will never be your friends
                     </b>
                  </h5>
                  <p class="mb-4">
                     Author's <a href="#" target="_blank"><b class="fw-medium">Clara</b></a> & <a href="#" target="_blank"><b class="fw-medium">Lola</b></a>
                     <br>
                     WEDNESDAY, 2025 May 22 ~ 09:00 AM
                  </p>
                  <div class="row row-gap-5">

                     <div class="col col-12 col-lg-7 col-xl-8 pe-xl-4">
                        <div class="row row-cols-1 row-gap-4">
                           <div class="col">
                              <div class="mb-4">
                                 <div class="position-relative">
                                    <ul class="nav mb-3 flex-md-column position-md-absolute top-0 end-0 m-md-3 z-2 row-gap-md-3">
                                       <li class="nav-item">
                                          <a href="#" class="nav-link text-reset p-0"><i class="fas fa-bookmark fa-md-2"></i></a>
                                       </li>
                                       <li class="nav-item d-md-none">
                                          <div class="vr h-100 mx-2"></div>
                                       </li>
                                       <li class="nav-item">
                                          <a href="#" class="nav-link text-reset p-0"><i class="fas fa-reply fa-md-2"></i></a>
                                       </li>
                                       <li class="nav-item d-md-none">
                                          <div class="vr h-100 mx-2"></div>
                                       </li>
                                       <li class="nav-item">
                                          <a href="#" class="nav-link text-reset p-0"><i class="fas fa-share fa-md-2"></i></a>
                                       </li>
                                       <li class="nav-item d-md-none">
                                          <div class="vr h-100 mx-2"></div>
                                       </li>
                                       <li class="nav-item">
                                          <a href="#" class="nav-link text-reset p-0"><i class="fas fa-feed fa-md-2"></i></a>
                                       </li>
                                    </ul>
                                    <div class="ratio ratio-4x3 z-1">
                                       <img src="" class="object-fit-cover" alt="">
                                    </div>
                                 </div>
                                 <small>Dok: Antara</small>
                              </div>
                              <p class="px-xl-5 mb-5">
                                 Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolor optio vero magni reiciendis, corrupti dignissimos vel doloribus rerum asperiores distinctio dicta sequi quisquam obcaecati voluptatem quod voluptates fugiat voluptate esse! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Temporibus ullam repellendus non nulla, ea qui doloribus aperiam. Possimus amet similique error, ex ipsam officiis iste repellat soluta corporis necessitatibus odit?
                                 <br><br>
                                 Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam, laborum tenetur non eos recusandae sed, distinctio id nostrum quasi illo ullam ipsa aliquam animi dicta. Pariatur delectus omnis laboriosam quisquam.
                                 <br><br>
                                 Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deserunt ullam aperiam beatae laboriosam ratione repudiandae maiores labore quas corporis, asperiores, in quasi vel obcaecati, earum voluptate rerum necessitatibus culpa velit! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Temporibus, eos, adipisci neque magni veniam rem sunt quo consequuntur quos porro perspiciatis voluptate iure totam molestias quae laborum nisi eligendi quidem.
                                 <br><br>
                                 Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo deserunt odio perspiciatis cupiditate. Fugiat, deleniti earum ex unde possimus soluta? Reprehenderit adipisci voluptatum vero enim debitis, ratione harum natus eaque.
                              </p>
                              <p class="px-xl-5">
                                 Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolor optio vero magni reiciendis, corrupti dignissimos vel doloribus rerum asperiores distinctio dicta sequi quisquam obcaecati voluptatem quod voluptates fugiat voluptate esse! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Temporibus ullam repellendus non nulla, ea qui doloribus aperiam. Possimus amet similique error, ex ipsam officiis iste repellat soluta corporis necessitatibus odit?
                                 <br><br>
                                 Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam, laborum tenetur non eos recusandae sed, distinctio id nostrum quasi illo ullam ipsa aliquam animi dicta. Pariatur delectus omnis laboriosam quisquam.
                                 <br><br>
                                 Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deserunt ullam aperiam beatae laboriosam ratione repudiandae maiores labore quas corporis, asperiores, in quasi vel obcaecati, earum voluptate rerum necessitatibus culpa velit! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Temporibus, eos, adipisci neque magni veniam rem sunt quo consequuntur quos porro perspiciatis voluptate iure totam molestias quae laborum nisi eligendi quidem.
                                 <br><br>
                                 Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo deserunt odio perspiciatis cupiditate. Fugiat, deleniti earum ex unde possimus soluta? Reprehenderit adipisci voluptatum vero enim debitis, ratione harum natus eaque.
                              </p>
                           </div><!-- end col -->
                           <div class="col">
                              <hr class="opacity-100 my-4 border-3">
                              <div class="row row-cols-1 row-cols-md-2 row-gap-4">
                                 <div class="col">
                                    <div class="ratio ratio-4x3 mb-3">
                                       <img src="" class="object-fit-cover" alt="">
                                    </div>
                                    <h5 class="news-title fs-4">
                                       <b class="fw-medium">
                                          Sorry, Donald, but the celebrities you covet will never be your friends.
                                       </b>
                                    </h5>
                                 </div><!-- end col -->
                                 <div class="col">
                                    <div class="ratio ratio-4x3 mb-3">
                                       <img src="" class="object-fit-cover" alt="">
                                    </div>
                                    <h5 class="news-title fs-4">
                                       <b class="fw-medium">
                                          Sorry, Donald, but the celebrities you covet will never be your friends.
                                       </b>
                                    </h5>
                                 </div><!-- end col -->
                                 <div class="col">
                                    <div class="ratio ratio-4x3 mb-3">
                                       <img src="" class="object-fit-cover" alt="">
                                    </div>
                                    <h5 class="news-title fs-4">
                                       <b class="fw-medium">
                                          Sorry, Donald, but the celebrities you covet will never be your friends.
                                       </b>
                                    </h5>
                                 </div><!-- end col -->
                                 <div class="col">
                                    <div class="ratio ratio-4x3 mb-3">
                                       <img src="" class="object-fit-cover" alt="">
                                    </div>
                                    <h5 class="news-title fs-4">
                                       <b class="fw-medium">
                                          Sorry, Donald, but the celebrities you covet will never be your friends.
                                       </b>
                                    </h5>
                                 </div><!-- end col -->
                              </div><!-- end row -->
                           </div><!-- end col -->
                        </div><!-- end row -->
                     </div><!-- end col -->

                     <div class="col col-12 col-lg-5 col-xl-4 ms-xl-auto border-lg-start ps-xl-4">
                        <div class="sticky-top" style="top: 13rem;">
                           <div class="comment-wrapper">
                              <h5 class="fs-5 mb-3">
                                 <b class="fw-bold">COMMENT</b>
                              </h5>
                              <form action="">
                                 <div class="form-group mb-2">
                                    <textarea name="" class="form-control rounded-0 border-light" rows="8" placeholder="Type your opinion" id=""></textarea>
                                 </div>
                                 <div class="form-group">
                                    <button class="btn btn-outline-light rounded-0 w-100">SUBMIT</button>
                                 </div>
                              </form>
                              <hr class="mt-4 border-3 opacity-100">
                              <ul class="list-group list-group-flush comment-list">
                                 <li class="list-group-item comment-item px-0">
                                    <div class="row g-0 row-cols-1">
                                       <div class="col small mb-2">
                                          <b class="fw-bold text-uppercase">pradhokot</b>
                                          <div class="row g-0 row-cols-auto opacity-75 small">
                                             <div class="col">Thusday, 2025 May 24</div><!-- end col -->
                                             <div class="col"><div class="vr h-100 mx-2"></div></div><!-- end col -->
                                             <div class="col">09:00 AM</div><!-- end col -->
                                          </div><!-- end row -->
                                       </div><!-- end col -->
                                       <div class="col">
                                          <p>
                                             Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis asperiores nostrum repellat ad, ipsum dignissimos harum, aperiam quis autem sit similique id, labore vero? Sed sint magni esse aperiam nemo?
                                          </p>
                                       </div><!-- end col -->
                                    </div><!-- end row -->
                                 </li>
                                 <li class="list-group-item comment-item px-0">
                                    <div class="row g-0 row-cols-1">
                                       <div class="col small mb-2">
                                          <b class="fw-bold text-uppercase">pradhokot</b>
                                          <div class="row g-0 row-cols-auto opacity-75 small">
                                             <div class="col">Thusday, 2025 May 24</div><!-- end col -->
                                             <div class="col"><div class="vr h-100 mx-2"></div></div><!-- end col -->
                                             <div class="col">09:00 AM</div><!-- end col -->
                                          </div><!-- end row -->
                                       </div><!-- end col -->
                                       <div class="col">
                                          <p>
                                             Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis asperiores nostrum repellat ad, ipsum dignissimos harum, aperiam quis autem sit similique id, labore vero? Sed sint magni esse aperiam nemo?
                                          </p>
                                       </div><!-- end col -->
                                    </div><!-- end row -->
                                 </li>
                                 <li class="list-group-item comment-item px-0">
                                    <div class="row g-0 row-cols-1">
                                       <div class="col small mb-2">
                                          <b class="fw-bold text-uppercase">pradhokot</b>
                                          <div class="row g-0 row-cols-auto opacity-75 small">
                                             <div class="col">Thusday, 2025 May 24</div><!-- end col -->
                                             <div class="col"><div class="vr h-100 mx-2"></div></div><!-- end col -->
                                             <div class="col">09:00 AM</div><!-- end col -->
                                          </div><!-- end row -->
                                       </div><!-- end col -->
                                       <div class="col">
                                          <p>
                                             Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis asperiores nostrum repellat ad, ipsum dignissimos harum, aperiam quis autem sit similique id, labore vero? Sed sint magni esse aperiam nemo?
                                          </p>
                                       </div><!-- end col -->
                                    </div><!-- end row -->
                                 </li>
                                 <li class="list-group-item comment-item px-0">
                                    <div class="row g-0 row-cols-1">
                                       <div class="col small mb-2">
                                          <b class="fw-bold text-uppercase">pradhokot</b>
                                          <div class="row g-0 row-cols-auto opacity-75 small">
                                             <div class="col">Thusday, 2025 May 24</div><!-- end col -->
                                             <div class="col"><div class="vr h-100 mx-2"></div></div><!-- end col -->
                                             <div class="col">09:00 AM</div><!-- end col -->
                                          </div><!-- end row -->
                                       </div><!-- end col -->
                                       <div class="col">
                                          <p>
                                             Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis asperiores nostrum repellat ad, ipsum dignissimos harum, aperiam quis autem sit similique id, labore vero? Sed sint magni esse aperiam nemo?
                                          </p>
                                       </div><!-- end col -->
                                    </div><!-- end row -->
                                 </li>
                                 <li class="list-group-item comment-item px-0">
                                    <div class="row g-0 row-cols-1">
                                       <div class="col small mb-2">
                                          <b class="fw-bold text-uppercase">pradhokot</b>
                                          <div class="row g-0 row-cols-auto opacity-75 small">
                                             <div class="col">Thusday, 2025 May 24</div><!-- end col -->
                                             <div class="col"><div class="vr h-100 mx-2"></div></div><!-- end col -->
                                             <div class="col">09:00 AM</div><!-- end col -->
                                          </div><!-- end row -->
                                       </div><!-- end col -->
                                       <div class="col">
                                          <p>
                                             Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis asperiores nostrum repellat ad, ipsum dignissimos harum, aperiam quis autem sit similique id, labore vero? Sed sint magni esse aperiam nemo?
                                          </p>
                                       </div><!-- end col -->
                                    </div><!-- end row -->
                                 </li>
                              </ul>
                           </div>
                        </div>
                     </div><!-- end col -->

                  </div><!-- end row -->
               </div><!-- end container -->
            </section>

			</main><!-- end page body -->
			<footer class="page-footer">
				<script src="layout/footbar.js"></script>
			</footer><!-- end page footer -->
		</div><!-- end page -->
	</div><!-- end wrapper -->
	<script src="js/theme.js"></script>
	<script src="js/global.js"></script>
</body>
</html>