<!DOCTYPE html>
<html lang="en">
<head>
	<script src="layout/head.js"></script>
	<link rel="stylesheet" href="css/landing.css">
	<title>FactaBot &bull; Home</title>
	<style>
		* {
			outline: solid 1px green;
			outline: solid 1px transparent;
		}
</style>
</head>
<body>
	<div class="wrapper">
		<div class="page">
			<header class="page-header fixed-top bg-body">
				<script src="layout/navbar.js"></script>
				<script src="layout/running-text.js"></script>
				<script src="layout/sidebar.js"></script>
			</header><!-- end page wrapper -->
			<main class="page-body py-4 pb-5">

				<section>
               <div class="container">
                  <h5 class="fs-1 mb-4">
                     <b class="fw-medium">
                        Sorry, Donald, but the celebrities you covet will never be your friends
                     </b>
                  </h5>
                  <div class="row small align-items-baseline">
                     <div class="col col-auto">
                        WEDNESDAY, 2025 May 22
                     </div><!-- end col -->
                     <div class="col">
                        <a href="#" class="btn rounded-0 p-0"><i class="fas fa-share"></i></a>
                        <a href="#" class="btn rounded-0 p-0"><i class="fas fa-feed"></i></a>
                        <a href="#" class="btn rounded-0 p-0">View all comments</a>
                     </div><!-- end col -->
                  </div><!-- end row -->
                  <hr>
               </div><!-- end container -->
            </section>

			</main><!-- end page body -->
			<footer class="page-footer">
				<script src="layout/footbar.js"></script>
			</footer><!-- end page footer -->
		</div><!-- end page -->
	</div><!-- end wrapper -->
	<script src="js/theme.js"></script>
	<script src="js/global.js"></script>
</body>
</html>