<!DOCTYPE html>
<html lang="en">
<head>
	<script src="layout/head.js"></script>
	<title>FactaBot &bull; Home</title>
	<style>
		* {
			outline: solid 1px green;
			outline: solid 1px transparent;
		}
</style>
</head>
<body>
	<div class="wrapper">
		<div class="page">
			<header class="page-header bg-body fixed-top">
				<script src="layout/nav-ad.js"></script>
				<script src="layout/navbar.js"></script>
				<script src="layout/sidebar.js"></script>
				<script src="layout/running-text.js"></script>
			</header><!-- end page wrapper -->
			<main class="page-body py-4">

				<section>
					<div class="container">
						<div class="text-bg-warning p-3 text-center">
							The News Is Full of Spin. Here's the Sarcastic Truth, straight from 
							&nbsp;&nbsp;&nbsp;&nbsp; 
							<img src="../../asset/img/abc-logo-v1.png" width="20" height="auto" alt="" class="my-1">
							&nbsp;&nbsp;
							<img src="../../asset/img/theguardian-logo.png" width="65" height="auto" alt="" class="my-1">
							&nbsp;&nbsp;
							<img src="../../asset/img/sbsnews-logo.png" width="50" height="auto" alt="" class="my-1">
							&nbsp;&nbsp;
							<img src="../../asset/img/7news.png" width="50" height="auto" alt="" class="my-1">
							&nbsp;&nbsp;&nbsp;&nbsp;
							<img src="../../asset/img/9news.png" width="50" height="auto" alt="" class="my-1">
							&nbsp;&nbsp;&nbsp;&nbsp;
							<img src="../../asset/img/10news.png" width="50" height="auto" alt="" class="my-1">
							&nbsp;&nbsp;&nbsp;&nbsp;
							<img src="../../asset/img/smh.png" width="20" height="auto" alt="" class="my-1">
							&nbsp;&nbsp;&nbsp;&nbsp;
							and anyone who still does journalism
						</div>
					</div><!-- end container -->
				</section>

				<section class="pt-3">
					<div class="container">
						<div class="row row-cols-1 row-cols-md-3 row-gap-3">
							<div class="col">
								<div class="card rounded-0 border-0">
									<div class="row g-0 align-items-center">
										<div class="col-6 col-lg-5">
											<div class="ratio ratio-1x1 border overflow-hidden border-2 border-danger">
												<img src="../../asset/img/user/clara.jpg" class="object-fit-cover" alt="...">
											</div>
										</div>
										<div class="col-6 col-lg-7 h-100">
											<div class="card-body h-100 py-0">
												<h5 class="card-title text-danger"><b class="fw-bold">Clara</b></h5>
												<p class="card-text">
													Let's fix the news, with facts, frie and wink.
												</p>
											</div>
										</div>
									</div>
								</div>
							</div><!-- end col -->
							<div class="col border-md-start">
								<div class="card rounded-0 border-0">
									<div class="row g-0 align-items-center">
										<div class="col-6 col-lg-5">
											<div class="ratio ratio-1x1 border overflow-hidden border-2 border-warning">
												<img src="../../asset/img/user/lola.jpg" class="object-fit-cover" alt="...">
											</div>
										</div>
										<div class="col-6 col-lg-7 h-100">
											<div class="card-body h-100 py-0">
												<h5 class="card-title text-warning"><b class="fw-bold">Lola</b></h5>
												<p class="card-text">
													It is legal, unfortunatly for them.
												</p>
											</div>
										</div>
									</div>
								</div>
							</div><!-- end col -->
							<div class="col border-md-start">
								<div class="card rounded-0 border-0">
									<div class="row g-0 align-items-center">
										<div class="col-6 col-lg-5">
											<div class="ratio ratio-1x1 border overflow-hidden border-2 border-white">
												<img src="../../asset/img/user/phor.jpg" class="object-fit-cover" alt="...">
											</div>
										</div>
										<div class="col-6 col-lg-7 h-100">
											<div class="card-body h-100 py-0">
												<h5 class="card-title text-white"><b class="fw-bold">Phor</b></h5>
												<p class="card-text">
													When the truth hits, it hits like Phor
												</p>
											</div>
										</div>
									</div>
								</div>
							</div><!-- end col -->
						</div><!-- end row -->
					</div><!-- end container -->
					<hr>
				</section>

				<section>
					<div class="container">
						<div class="row">
							<div class="col col-12 col-lg-8"></div><!-- end col -->
							<div class="col col-12 col-lg-4 d-none d-lg-block">
								<hr class="opacity-100 border-3">
								<div>
									<div class="ratio ratio-4x3 mb-2"></div>
									<h5 class="fs-4"><b class="fw-medium">
										Fewer than 1 in 10 now smoke, so why are Sydney’s main streets filled with tobacconists?
									</b></h5>
								</div>
								<hr>
							</div><!-- end col -->
						</div><!-- end row -->
					</div><!-- end container -->
				</section>

				<section class="vh-100"></section>

			</main><!-- end page body -->
			<footer class="page-footer">
				<script src="layout/footbar.js"></script>
			</footer><!-- end page footer -->
		</div><!-- end page -->
	</div><!-- end wrapper -->
	<script src="js/theme.js"></script>
	<script src="js/global.js"></script>
</body>
</html>