<!DOCTYPE html>
<html lang="en">
<head>
	<script src="layout/head.js"></script>
	<title>FactaBot &bull; Home</title>
	<style>
		* {
			outline: solid 1px green;
			outline: solid 1px transparent;
		}
</style>
</head>
<body>
	<div class="wrapper">
		<div class="page">
			<header class="page-header bg-body fixed-top">
				<script src="layout/nav-ad.js"></script>
				<script src="layout/navbar.js"></script>
				<script src="layout/sidebar.js"></script>
			</header><!-- end page wrapper -->
			<main class="page-body">

				<section>
					<script src="layout/running-text.js"></script>
				</section>

				<section class="d-none d-lg-block pt-3">
					<div class="container">
						<div class="row row-cols-3 small">
							<div class="col">
								<div class="card rounded-0 border-0">
									<div class="row g-0">
										<div class="col-md-4">
											<div class="ratio ratio-1x1 border overflow-hidden border-2 border-warning">
												<img src="../../asset/img/user/clara.jpg" class="object-fit-cover" alt="...">
											</div>
										</div>
										<div class="col-md-8 h-100">
											<div class="card-body h-100">
												<h5 class="card-title text-warning"><b class="fw-bold">Card title</b></h5>
												<p class="card-text text-truncate text-wrap" style="height: 4rem;">
													Lorem ipsum, dolor sit amet consectetur adipisicing elit. Placeat corrupti perferendis eligendi nesciunt dolorem animi numquam vero fugit sint adipisci? Voluptatum ut sint exercitationem quam placeat! Corporis inventore vero maxime.
												</p>
											</div>
										</div>
									</div>
								</div>
							</div><!-- end col -->
							<div class="col border-start">
								<div class="card rounded-0 border-0">
									<div class="row g-0">
										<div class="col-md-4">
											<div class="ratio ratio-1x1 border overflow-hidden border-2 border-warning">
												<img src="../../asset/img/user/lola.jpg" class="object-fit-cover" alt="...">
											</div>
										</div>
										<div class="col-md-8 h-100">
											<div class="card-body h-100">
												<h5 class="card-title text-warning"><b class="fw-bold">Card title</b></h5>
												<p class="card-text text-truncate text-wrap" style="height: 4rem;">
													Lorem ipsum, dolor sit amet consectetur adipisicing elit. Placeat corrupti perferendis eligendi nesciunt dolorem animi numquam vero fugit sint adipisci? Voluptatum ut sint exercitationem quam placeat! Corporis inventore vero maxime.
												</p>
											</div>
										</div>
									</div>
								</div>
							</div><!-- end col -->
							<div class="col border-start">
								<div class="card rounded-0 border-0">
									<div class="row g-0">
										<div class="col-md-4">
											<div class="ratio ratio-1x1 border overflow-hidden border-2 border-warning">
												<img src="../../asset/img/user/phor.jpg" class="object-fit-cover" alt="...">
											</div>
										</div>
										<div class="col-md-8 h-100">
											<div class="card-body h-100">
												<h5 class="card-title text-warning"><b class="fw-bold">Card title</b></h5>
												<p class="card-text text-truncate text-wrap" style="height: 4rem;">
													Lorem ipsum, dolor sit amet consectetur adipisicing elit. Placeat corrupti perferendis eligendi nesciunt dolorem animi numquam vero fugit sint adipisci? Voluptatum ut sint exercitationem quam placeat! Corporis inventore vero maxime.
												</p>
											</div>
										</div>
									</div>
								</div>
							</div><!-- end col -->
						</div><!-- end row -->
					</div><!-- end container -->
					<hr>
				</section>

				<section>
					<div class="container">
						<div class="row">
							<div class="col col-12 col-lg-8"></div><!-- end col -->
							<div class="col col-12 col-lg-4 d-none d-lg-block">
								<hr class="opacity-100 border-3">
								<div>
									<div class="ratio ratio-4x3 mb-2"></div>
									<h5 class="fs-4"><b class="fw-medium">
										Fewer than 1 in 10 now smoke, so why are Sydney’s main streets filled with tobacconists?
									</b></h5>
								</div>
								<hr>
							</div><!-- end col -->
						</div><!-- end row -->
					</div><!-- end container -->
				</section>

				<section class="vh-100"></section>

			</main><!-- end page body -->
			<footer class="page-footer">
				<script src="layout/footbar.js"></script>
			</footer><!-- end page footer -->
		</div><!-- end page -->
	</div><!-- end wrapper -->
	<script src="js/theme.js"></script>
	<script src="js/global.js"></script>
</body>
</html>