<!DOCTYPE html>
<html lang="en">
<head>
	<script src="layout/head.js"></script>
	<title>FactaBot &bull; Home</title>
	<style>
		* {
			outline: solid 1px green;
			outline: solid 1px transparent;
		}
</style>
</head>
<body>
	<div class="wrapper">
		<div class="page">
			<header class="page-header bg-body fixed-top">
				<!-- <script src="layout/nav-ad.js"></script> -->
				<script src="layout/navbar.js"></script>
				<script src="layout/sidebar.js"></script>
				<script src="layout/running-text.js"></script>
			</header><!-- end page wrapper -->
			<main class="page-body py-4">
				<div class="container">
					<div class="text-bg-warning p-3 text-center mb-3">
						The News Is Full of Spin. Here's the Sarcastic Truth, straight from 
						&nbsp;&nbsp;&nbsp;&nbsp; 
						<img src="../../asset/img/abc-logo-v1.png" width="20" height="auto" alt="" class="my-1">
						&nbsp;&nbsp;
						<img src="../../asset/img/theguardian-logo.png" width="65" height="auto" alt="" class="my-1">
						&nbsp;&nbsp;
						<img src="../../asset/img/sbsnews-logo.png" width="50" height="auto" alt="" class="my-1">
						&nbsp;&nbsp;
						<img src="../../asset/img/7news.png" width="50" height="auto" alt="" class="my-1">
						&nbsp;&nbsp;&nbsp;&nbsp;
						<img src="../../asset/img/9news.png" width="50" height="auto" alt="" class="my-1">
						&nbsp;&nbsp;&nbsp;&nbsp;
						<img src="../../asset/img/10news.png" width="50" height="auto" alt="" class="my-1">
						&nbsp;&nbsp;&nbsp;&nbsp;
						<img src="../../asset/img/smh.png" width="20" height="auto" alt="" class="my-1">
						&nbsp;&nbsp;&nbsp;&nbsp;
						and anyone who still does journalism
					</div>
					<div class="row justify-content-lg-center">
						<div class="col col-12 col-lg-10">
							<div class="row row-cols-1 row-cols-md-3 row-gap-3">
								<div class="col">
									<div class="row align-items-center align-items-md-start gx-md-3">
										<div class="col col-6 col-lg-5">
											<div class="ratio ratio-1x1 border border-3 border-danger">
												<img src="../../asset/img/user/clara.jpg" class="object-fit-cover" alt="">
											</div>
										</div><!-- end col -->
										<div class="col col-6 col-lg-7">
											<h5 class="fs-4 text-danger">
												<a href="#" class="text-reset text-decoration-none">
													<b class="fw-bold">Clara</b>
												</a>
											</h5>
											<p class="m-0">
												Let's fix the news, with facts, frie and wink. 
											</p>
										</div><!-- end col -->
									</div><!-- end row -->
								</div><!-- end col -->
								<div class="col border-md-start">
									<div class="row align-items-center align-items-md-start gx-md-3">
										<div class="col col-6 col-lg-5">
											<div class="ratio ratio-1x1 border border-3 border-warning">
												<img src="../../asset/img/user/lola.jpg" class="object-fit-cover" alt="">
											</div>
										</div><!-- end col -->
										<div class="col col-6 col-lg-7">
											<h5 class="fs-4 text-warning">
												<a href="#" class="text-reset text-decoration-none">
													<b class="fw-bold">Lola</b>
												</a>
											</h5>
											<p class="m-0">
												It is legal, unfortunatly for them.
											</p>
										</div><!-- end col -->
									</div><!-- end row -->
								</div><!-- end col -->
								<div class="col border-md-start">
									<div class="row align-items-center align-items-md-start gx-md-3">
										<div class="col col-6 col-lg-5">
											<div class="ratio ratio-1x1 border border-3 border-white">
												<img src="../../asset/img/user/phor.jpg" class="object-fit-cover" alt="">
											</div>
										</div><!-- end col -->
										<div class="col col-6 col-lg-7">
											<h5 class="fs-4 text-white">
												<a href="#" class="text-reset text-decoration-none">
													<b class="fw-bold">Phor</b>
												</a>
											</h5>
											<p class="m-0">
												When the truth hits, it hits like Phor.
											</p>
										</div><!-- end col -->
									</div><!-- end row -->
								</div><!-- end col -->
							</div><!-- end row -->
						</div><!-- end col -->
					</div><!-- end row -->
				</div><!-- end container -->
				<hr>
				<div class="container-md px-md-minus">
					<div class="row">
						<div class="col col-12 col-lg-9">

							<hr>

						</div><!-- end col -->
						<div class="col col-12 col-lg-3 border-lg-start">
							<hr class="opacity-100 border-3 mt-lg-0">
							<div class="ratio ratio-16x9 mb-3"></div>
							<h5 class="fs-4">
								<b class="fw-bold">
									Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eveniet quas commodi ?
								</b>
							</h5>
						</div><!-- end col -->
					</div><!-- end row -->
				</div><!-- end container -->

				<section class="vh-100"></section>

			</main><!-- end page body -->
			<footer class="page-footer">
				<script src="layout/footbar.js"></script>
			</footer><!-- end page footer -->
		</div><!-- end page -->
	</div><!-- end wrapper -->
	<script src="js/theme.js"></script>
	<script src="js/global.js"></script>
</body>
</html>