:root {
   --color-theme-primary: #030332;
}

html {
   font-size: 14px;
   font-family: Arial, Helvetica, sans-serif;
}

.navbar, .footbar {
   background-color: var(--color-theme-primary);
   color: white;
}

.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
   @media (max-width: 575.98px) {
      padding-left: 1.5rem;
      padding-right: 1.5rem;
   }

   @media (min-width: 1200px) {
      max-width: 1140px;
   }
}

.text-reset {
   font-size: inherit;
}

.link-hover {
   color: inherit;
   opacity: .75;
   text-decoration: none;
   text-transform: capitalize;

   &:hover,
   &:focus,
   &.active {
      opacity: 1;
   }
}/* end lisk hover */

.link-hover-underline {
   color: inherit;
   opacity: .75;
   text-decoration: none;
   text-transform: capitalize;
   
   &:hover,
   &:focus,
   &.active {
      opacity: 1;
      text-decoration: underline;
   }
}/* end lisk hover underline */

.custom-breadcrumb {
   display: flex;
   flex-wrap: wrap;
   row-gap: .25rem;
   column-gap: 1.5rem;

   &>li {
      position: relative;
   
      &::after {
         content: '';
         height: 100%;
         border-right: solid 1px currentColor;
         position: absolute;
         top: 50%;
         left: calc(100% + .75em);
         transform: translate(-50%, -50%);
         opacity: .25;
      }
   
      &:last-child::after {
         display: none;
      }
   }
}/* end custom breadcrumb */

.footbar-title {
   @media (max-width: 767.98px) {
      position: relative;
      cursor: pointer;

      &::after {
         content: '\f077';
         font-family: 'FontAwesome';
         color: currentColor;
         position: absolute;
         top: 0;
         right: 0;
         opacity: 1;
         transition: .3s ease-in-out;
         transform: rotate(0deg) scale(1);
      }
      
      &.collapsed::after {
         transform: rotate(-180deg) scale(.75);
         opacity: .5;
      }
   }
}/* end footbar title */

.position-lg-absolute {
   @media (min-width: 992px) {
      position: absolute;
   }
}
.top-lg-50 {
   @media (min-width: 992px) {
      top: 50%;
   }
}
.start-lg-50 {
   @media (min-width: 992px) {
      left: 50%;
   }
}
.translate-lg-middle {
   @media (min-width: 992px) {
      transform: translate(-50%, -50%);
   }
}

.navbar {
   @media (max-width: 991.98px) {
      transition: .3s ease-in-out;

      &.toggle-scroll {
         margin-top: -62px;
      }
   }
}