<!DOCTYPE html>
<html lang="en">
<head>
	<script src="layout/head.js"></script>
	<title>NEWSPAPER &bull; Home</title>
	<style>
		* {
			outline: solid 1px green;
			outline: solid 1px transparent;
		}
</style>
</head>
<body>
	<div class="wrapper">
		<div class="page">
			<header class="page-header">
				<nav class="navbar py-lg-4">
					<div class="container">
						<h1 class="fs-3 lh-1 m-0">
							<a href="index.html" class="navbar-brand fs-3">
								Newspaper
							</a>
						</h1>
					</div><!-- end container -->
				</nav><!-- end navbar -->
				<aside class="sidebar"></aside><!-- end sidebar -->
				<div class="banner"></div><!-- end banner -->
			</header><!-- end page wrapper -->
			<main class="page-body">
				<section>
					<div class="container">
						<p>
							Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusantium rem placeat vitae cupiditate reprehenderit autem animi aliquid inventore, nesciunt perferendis quasi, aut adipisci numquam eligendi assumenda necessitatibus cum, sed illum.
						</p>
					</div><!-- end container -->
				</section>
			</main><!-- end page body -->
			<footer class="page-footer">
				<script src="layout/footbar.js"></script>
			</footer><!-- end page footer -->
		</div><!-- end page -->
		<div class="cookies"></div><!-- end cookies -->
		<div class="modal"></div><!-- end modal -->
	</div><!-- end wrapper -->
	<!-- <script src="js/theme.js"></script> -->
	<script src="js/global.js"></script>
</body>
</html>